//============================= component
@import "../component/component.scss";
@import "../baseComponent/baseComponent.scss";
// @import "../../node_modules/react-toastify/dist/ReactToastify.css";
// ============================ screen
@import "../screen/screen.scss";
.see-more {
  padding: 10px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-size: 0.7rem;
}
.panelAdmin-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
}
.panelAdmin-content {
  // width: calc(100% - 225px);
  min-height: 85vh;
  text-align: start;
  overflow: auto;
  display: flex;
  padding: 0 10px;
}

@import "./themeClasses.scss";
.panelAdmin-wrapper {
  //   min-width: 1500px;
  background-color: #ebeff2;
  #coverContainer {
    // display: none;
  }
}
.form-countainer {
  padding: 10px;
  box-shadow: var(--boxShadowLow);
  border-radius: 8px;
  min-width: 50%;
  width: 100%;
  background-color: white;
  margin: auto;
  // flex: 1;
  &.shadowUnset {
    box-shadow: unset;
    flex: 1;
  }
}
.formFlex {
  .form-countainer {
    width: 98%;
  }
  form {
    display: flex;
    flex-wrap: wrap;
  }
  .Input {
    width: 49%;
  }
  .serached-item {
    flex-flow: column;
  }
  .searched-text > span {
    text-align: center;
    line-height: normal;
  }
}
.form-subtitle {
  display: none;
  padding: 10px 10px 20px;
  text-align: center;
  border-bottom: 1px solid #ccc;

  color: black;

  font-weight: 700;
}
.list-unstyled {
  height: 120px;
  // overflow: auto;
}
.row-give-information {
  > div {
    padding: 10px;
    // display: flex;

    justify-content: space-between;

    flex-direction: column;
    .dropdown {
      padding: 10px;

      border: 1px solid #9f9f9f;

      border-radius: 10px;
      text-align: center;
      color: black;
    }

    > label {
      margin: 5px;

      font-size: 15px;

      font-weight: 600;
    }
    > input {
      border: 1px solid #ccc;

      border-radius: 8px;
      padding: 5px 10px;
      &:focus {
        box-shadow: var(--boxShadowLow);
        border: 2px solid var(--blueLight);
      }
    }
    > * {
      margin: 5px;
    }
  }
}
@media (max-width: 900px) {
  .panelAdmin-wrapper {
    //   min-width: 1500px;
    background-color: #ebeff2;
    #coverContainer {
      display: flex;
    }
  }
}
