// ====================================================== website style
// ========================== baseComponent
@import "../baseComponents/index.scss";
// ========================== SCREENS
@import "../screen/index.scss";
//=========================== COMPONENTS
@import "../components/index.scss";
//=========================== REUSABLE_COMPONENTS
@import "../reusableComponent/index.scss";
@import "./cssController.scss";

.padding-top {
  padding-top: 67px;
}

* {
  text-align: start;
}
