.modal-box {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: white;
  border-radius: 7px;
}
.modal-box > div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.m-b-question-title {
  display: flex;
  flex-direction: column;
}
.m-b-question-title > span {
  font-size: 16px;
  padding: 13px;
  text-align: center;
  line-height: normal;
}
.m-b-question-title > span:first-child {
  font-size: 21px;
  width: 100%;
  text-align: center;
  font-weight: 500;
  letter-spacing: 1px;
}
.m-b-question-accept-or-false > .submited-box {
  width: 28%;
  margin: 20px;
  .submit-btn.btn-rounded {
    border-radius: 10px;
    height: 40px;
  }
}
.m-b-question-accept-or-false > .submited-box:last-child .submit-btn.btn-rounded {
  background-image: unset;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
}
.m-b-question-accept-or-false > .submited-box:last-child .submit-btn.btn-rounded:hover {
  background-color: #908e8e;
  color: #f9f9f9;

  background-image: unset;
  animation: unset;
  -webkit-animation: unset;
}
@media screen and(max-width:768px) {
  .modal-box {
    width: 80%;
  }
}
@media screen and(max-width:393px) {
  .modal-box {
    width: 80%;
  }
  .m-b-question-title > span {
    font-size: 13px;
  }
}
