.awesome-scroll-container {
  position: relative;
  overflow-y: hidden;
  white-space: nowrap;
  transition: all 0.2s;
  will-change: transform;
  user-select: none;
}

.ps__thumb-x {
  background-color: #636363 !important;
}

.ps__rail-x:hover {
  background-color: transparent !important;
}

.awesome-scroll-container.active {
  cursor: grabbing;
  transform: scale(1);
}

.awesome-scroll-wrapper {
  margin-bottom: 10px;
  // padding-inline-start: 1.25rem;
  &.row {
    flex-wrap: nowrap;
  }
  display: flex;
}
@media (max-width: 425px) {
  .awesome-scroll-wrapper {
    // padding-inline-start: 0.625rem;
  }
}
