.slider-container {
  display: flex;
  margin: auto;
  user-select: none;
  max-height: 300px;
  margin-bottom: 40px;
  .carousel-root {
    box-shadow: 0px 0px 6px -2px rgba(0, 0, 0, 0.5);
    overflow: hidden;
  }
  .slider-wrapper {
    height: 100%;
  }
  .carousel.carousel-slider {
    height: 100%;
  }
  .carousel {
    height: 100%;
  }
  .slider.animated {
    height: 100%;
    & * {
      height: 100%;
    }
  }

  > div {
    border-radius: 10px;
    overflow: hidden;
  }
  i {
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .slider-container {
    margin: auto;
  }
  .left-arrow {
    display: none !important;
  }
  .right-arrow {
    display: none !important;
  }
}
