@import "./FormInputOwner/index.scss";
@import "./FormMap/index.scss";
.list-unstyled {
  height: 120px;
  overflow: auto;
}
.row-give-information {
  flex-wrap: wrap;
  > div {
    padding: 10px;
    display: flex;
    flex-direction: column;
    .dropdown {
      padding: 10px;

      border: 1px solid #9f9f9f;

      border-radius: 10px;
      text-align: center;
      color: black;
    }

    > label {
      margin: 5px;

      font-size: 15px;

      font-weight: 600;
    }
    > input {
      border: 1px solid #ccc;

      border-radius: 8px;
      padding: 5px 10px;
      &:focus {
        box-shadow: var(--boxShadowLow);
        border: 2px solid var(--blueLight);
      }
    }
    > div {
      margin: 5px;
      display: flex;
      flex-flow: column;
      position: relative;
      label {
        margin: 0.2em 0;
      }
      input {
        padding: 0.2em;
        font-size: 1em;
      }
    }
  }
}

.data-show-array {
  display: flex;
  line-height: normal;
  flex-flow: row !important;
  flex-wrap: wrap !important;
  cursor: pointer;
  > span {
    box-shadow: var(--boxShadowLow);
    margin: 0.5em;
    padding: 0.1em 0.8em;
  }
}
