.banner-container {
  figure {
    position: relative;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin: 0 auto;
    padding: 0;
    > a {
      height: 100%;
    }
    a {
      display: flex;
      text-decoration: none;
      color: #fff;
      position: relative;
      img {
        width: 100%;
        border-radius: 10px;
      }
      .title-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;

        h2 {
          font-size: 2.125em;
          font-weight: 700;
          margin-bottom: 1.938em;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        }
        h3 {
          font-size: 1.375em;
          font-weight: 400;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}
@media screen and(max-width:850px) {
  .banner-container {
    figure {
      height: unset;
      a {
        img {
          border-radius: 10px;
        }
        .title-wrapper {
          flex-direction: column;
          h2 {
            font-size: 2.125em;
          }
          h3 {
            font-size: 1.375em;
          }
        }
      }
    }
  }
}

@media screen and(max-width:500px) {
  .banner-container {
    figure {
      a {
        img {
          border-radius: 10px;
        }
        .title-wrapper {
          h2 {
            font-size: 1.3rem;
            font-weight: 400;
            margin-bottom: 1rem;
          }
          h3 {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
