.single-card-container {
  box-sizing: content-box;

  padding: 0 !important;

  .single-card-wrapper {
    border: 1px solid rgba(#f0f0f0, 1);
    background-color: #fff;
    transition: all 0.2s linear;
    margin: 1em 0em;
    border-radius: 10px;
    background-color: rgba(#ffffff, 0.9);
    position: relative;
    box-shadow: 0px 0px 2px -2px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    &:hover {
      box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.5);
    }
  }
  .percent {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--orange);
    color: #fff;
    padding: 0.7em;
    border-bottom-right-radius: 16px;
    font-size: 0.8rem;
    font-weight: 500;
  }

  > figure {
    min-width: calc(100% / 2);
    > img {
      width: 100%;
      height: 130px;
    }
  }

  figcaption {
    padding: 5px 10px;
    h2 {
      font-size: 0.7rem; // 12px regular
      color: #95989a;
      padding-top: 5px;
      &:first-child {
        color: black;
      }
      span {
        font-size: 0.625rem; //10px regular
        opacity: 0.6;
      }
    }
    .price {
      color: #000;
      padding: 0;
      margin: 0;
      padding-top: 8px;
      text-align: left;
      font-size: 1.125rem; //18px
      span {
        font-size: 0.75rem; //12px regular
        opacity: 0.6;
      }
    }
    h3 {
      font-size: 0.875rem; //14px medium
      font-weight: 500;
      padding: 0;
      margin: 0;
      color: #676a6b;
    }

    h4 {
      font-size: 0.75rem; //12px medium
      font-weight: 500;
      padding: 0;
      margin: 0;
      padding-top: 0px;
      span {
        font-size: 0.625rem; //10px regular
      }
    }

    .amount {
      display: flex;
      justify-content: space-around;
      margin-top: 2em;
      .amount-wrapper {
        width: 60%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: 1px solid #e7e6e5;
        margin-bottom: 0.7em;
        span {
          cursor: pointer;
        }
        .num {
          background-color: #e7e6e5;
          width: 50%;
          height: 100%;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: default;
          p {
            padding: 0;
            margin: 0;
          }
        }
      }
      a {
        i {
          background-color: var(--blue);
          color: #fff;
          padding: 0.5em;
          border-radius: 50%;
          font-size: 1rem;
          transition: 0.3s ease-in-out;
        }
        &:hover i {
          box-shadow: 0 0 5px 0px rgba(0, 0, 0, 1);
          transition: 0.3s ease-in-out;
        }
      }
    }
  }
  // &.col-lg-2 {
  //   flex: 0 0 18.7%;
  //   max-width: 18.7%;
  // }
}
.carousel-root {
  direction: ltr !important;
}

@media screen and (max-width: 500px) {
  // for mobile phone size
  .single-card-container {
    .percent {
      font-size: 0.67rem;
    }
  }
}
